 transforms3d==0.3.1
 art==5.2
 chumpy==0.7.0
 covarage==5.5
 einops==0.0.3
 progress==1.5
 opencv==3.5.3.18
 open3d==0.9.0.0
 matplotlib==3.4.2
 h5py==2.10.0
 numpy==1.19.5
 pillow==8.2.0
 pandas==1.2.5
 scipy==1.7.0
 tensorflow==2.4.1
 tensorflow-estimator==2.4.0
 tensorboard==2.5.0
 tensorflow-gpu==2.5.0
 tornado==0.1
 tqdm==4.16.1
 mediapipe==0.2.4